/* Course Summary */

#course-summary {
    margin-top: 1em;
  }
  
  .department-code {
    font-weight: 400;
    line-height: 1px;
    font-size: 20px;
    color: #848484;
    display: flex;
    align-items: flex-end;
    
    
  }
  
  .full-course-name {
    font-weight: 400;
    line-height: 60px;
    display: flex;
    font-size: 24px;
    align-items: flex-end;
  }
  
  
  
  .empty-heart {
    font-size: 2rem;
  }
  .circle {
    border-radius: 50%;
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center;
  
    font-family: 'Muli', sans-serif;
    font-weight: bold;
  }
  
  .score-circ {
    position: absolute;
    width: 95px;
    height: 95px;
    font-size: 32px;
    background: #B4F46E;
    left: 26px;
    top: 16px;
  }