.container-fluid {
    padding: 1% 10%;
  }


/* Scool Summary */

#school-summary {
  padding-top: 3%;
}

.school-summary-label {
  padding-top: 2%;
}

.school-description {
  padding-top: 1%;
}
.school-photo{
    height: 100x;
    width: 1440px;
}
