#class-name {
    margin-top: 4rem;

    margin-bottom: 50px;
  }
  
  .dept-code {
    font-weight: 600;
    line-height: 35px;
  
    color: #848484;
  }
  
  .course-name {
    font-weight: 600;
    line-height: 60px;
    display: flex;
    align-items: flex-end;
  }