#course-name {
    margin-top: 4rem;
    margin-left: 24%;
    margin-bottom: 50px;
  }
  
  .department-code {
    font-weight: 600;
    line-height: 35px;
  
    color: #848484;
  }
  
  .full-course-name {
    font-weight: 600;
    line-height: 60px;
    display: flex;
    align-items: flex-end;
  }