.review {
  height: 25.6875rem;
  padding-top: 1.875rem;
}

/* Vote Buttons */

.review .up-vote-button {
  position: absolute;
  width: 95.04px;
  height: 39.71px;
  left: 57.5rem;
  top: 2.3125rem;

  border-radius: 2rem;
}

.review .down-vote-button {
  position: absolute;
  width: 95.04px;
  height: 39.71px;
  left: 64.6225rem;
  top: 2.3125rem;

  border-radius: 2rem;
}

/* Score Circles */

.circle {
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;

  font-family: 'Muli', sans-serif;
  font-weight: bold;
}

.overall-score-circle {
  position: absolute;
  width: 152px;
  height: 152px;
  left: 58px;
  top: 56px;

  font-size: 56px;

  background: #B4F46E;
}

.class-difficulty-score-circle {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 315px;
  top: 251px;

  font-size: 22px;

  background: #E1E1E1;
}

.usefulness-score-circle {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 565px;
  top: 251px;

  font-size: 22px;

  background: #B4F46E;
}

.interesting-score-circle {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 775px;
  top: 251px;

  font-size: 22px;

  background: #B4F46E;
}

/* Review Text: Labels, Date, Review */

.review .overall-score-label {
  position: absolute;
  width: 174px;
  height: 52px;
  left: 3.4375rem;
  top: 13.4375rem;

  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #262626;
}

.review .date {
  position: absolute;
  width: 20.1875rem;
  height: 2.875rem;
  left: 20rem;
  top: 2.0625rem;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 165.18%;
  /* or 26px */
  display: flex;
  align-items: center;

  color: #454545;
}

.review .overall-experience-label {
  position: absolute;
  width: 323px;
  height: 46px;
  left: 19.875rem;
  top: 5.25rem;

  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 165.18%;
  /* or 30px */
  display: flex;
  align-items: center;

  color: #262626;
}

.review .text-review {
  position: absolute;
  width: 781px;
  height: 79px;
  left: 19.875rem;
  top: 8.375rem;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #454545;
}

.review .class-difficulty-label {
  position: absolute;
  width: 160px;
  height: 17px;
  left: 24.3125rem;
  top: 16.9375rem;

  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;

  color: #454545;
}

.review .usefulness-label {
  position: absolute;
  width: 160px;
  height: 17px;
  left: 40.0625rem;
  top: 16.9375rem;

  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;

  color: #454545;
}

.review .interesting-label {
  position: absolute;
  width: 160px;
  height: 17px;
  left: 53.25rem;
  top: 16.9375rem;

  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;

  color: #454545;
}
